.task-container {
  //   background-color: rgba(20, 144, 216, 0.904);
  background-color: #322514;
  color: #fbcbc9;

  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
  font-family: sans-serif;
  border-radius: 1rem;
  transition: 300ms;
  overflow: hidden;
  max-width: calc(342px + 160px);
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
